.sl_footer {
	background-color: get-color(default);
	padding: $spacing--xl 0 $spacing--xs;

	.sl_row {
		max-width: 605px;
		margin: 0 auto $spacing--lg;

		@include breakpoint (small only) {
			flex-direction: column;
			align-items: center;
		}//end small only breakpoint

		& > .sl_cell {
			&:first-of-type {
				width: auto;

				@include breakpoint (small only) {
					margin-bottom: $spacing--md;
				}//end small only breakpoint
			}//end & > .sl_cell

			&:last-of-type {
				padding-left: $spacing--md;

				@include breakpoint (small only) {
					padding-left: 0;
				}//end small only breakpoint
			}//end &.auto
		}//end & > .sl_cell

		p {
			font-size: 1rem;
			line-height: 1.5rem;

			@include breakpoint (small only) {
				text-align: center;
			}//end small only breakpoint
		}//end p
	}//end .sl_row

	p, a {
		color: get-color(inverse);
	}//end p,a

	.sl_inner {
		& > p {
			font-size: rem-calc(14px);
			text-align: center;
			line-height: 1.25rem;
			max-width: 920px;
			margin: 0 auto $spacing--sm;
		}//end & > p
	}//end .sl_inner

	.sl_logo {
		max-height: 60px;
		height: auto;
		width: 225px;
	}//end .sl_logo
}//end .sl_footer