.sl_header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding-top: $spacing--md;

	@include breakpoint (small only) {
		text-align: center;
	}//end small only breakpoint

	.sl_logo {
		max-height: 75px;
		height: auto;
		width: 300px;

		@include breakpoint (small only) {
			width: 225px;
			max-height: 60px;
		}//end small only breakpoint
	}//end .sl_logo
}//end .sl_header