.sl_appcallout {
	background-color: get-color(accent1);
	padding-bottom: $spacing--xxl;

	.sl_inner {
		max-width: 1160px;
	}//end .sl_inner

	h2 {
		text-align: center;
		color: get-color(default);
		margin-bottom: $spacing--xl;

		@include breakpoint (small down) {
			margin-bottom: $spacing--lg;
		}//end small down breakpoint
	}//end h2

	&__media {
		width: 165px;
		display: flex;
		align-items: center;
		justify-content: center;

		@include breakpoint (small down) {
			width: 100%;
			margin-bottom: $spacing--lg;

			img {
				max-width: 165px;
				width: 100%;
				height: auto;
			}//end img
		}//end small down breakpoint
	}//end &__media

	&__content {
		padding-left: $spacing--xxl;

		@include breakpoint (small down) {
			padding-left: 0;
		}//end small down breakpoint
	}//end &__content

	&__downloads {
		img {
			max-height: 50px;
			width: auto;
		}//end img
	}//end &__downloads
}//end .sl_appcallout