.sl_billboard {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: get-color(accent2);
	height: 800px;
	max-height: 90vh;
	padding-top: 0;
	display: flex;

	@include breakpoint (medium down) {
		background-position: right top;
		background-size: 150%;
		flex-direction: column;
		justify-content: flex-end;
	}//end medium down breakpoint

	@include breakpoint (small down) {
		background-position: 73% 27%;
		background-size: 250%
	}//end small down breakpoint

	&:after {
		@include pseudo;
		left: 0;
		top: 0;
		bottom: 0;
		width: 50%;
		background-image: linear-gradient(269deg, rgba(216,216,216,0.00) 0%, rgba(251,251,251,0.90) 37%, #FFFFFF 59%);

		@include breakpoint (small down) {
			top: 0;
			height: 350px;
			width: 100%;
			bottom: auto;
			background-image: linear-gradient(0deg, rgba(216,216,216,0.00) 0%, rgba(254,254,254,0.80) 51%, #FFFFFF 64%);
		}//end small down breakpoint
	}//end &:after

	&:before {
		@include pseudo;
		left: 0;
		right: 0;
		bottom: 0;
		height: 507px;
		background-image: url(#{$path-img}wave--hero.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: center bottom;
		z-index: 1;

		@include breakpoint (medium down) {
			background-image: url(#{$path-img}wave--hero-mobile.png);
			height: 400px;
		}//end medium down breakpoint

		@include breakpoint (small down) {
			height: 345px;
		}//end small down breakpoint
	}//end &:before

	& > .sl_inner {
		height: 100%;

		@include breakpoint (medium down) {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}//end medium down breakpoint

		& > .sl_card {
			position: absolute;
			bottom: 150px;
			left: $spacing--lg + $spacing--xxl;

			@include breakpoint (xlarge only) {
				left: $spacing--lg + $spacing--xl;
			}//end xlarge only breakpoint

			@include breakpoint (large only) {
				left: $spacing--lg + $spacing--lg;
			}//end large only breakpoint

			@include breakpoint (medium down) {
				position: static;
				bottom: auto;
				left: auto;
				margin-bottom: $spacing--xxxl;
			}//end medium down breakpoint

			@include breakpoint (small down) {
				margin-bottom: 0;
			}//end small down breakpoint
		}//end & > .sl_card
	}//end & > .sl_inner

	h1 {
		max-width: 625px;
		margin: 0 auto $spacing--lg;
		color: get-color(inverse);
		letter-spacing: -1px;
		line-height: 1;

		strong {
			color: get-color(primary);
			font-weight: $font-weight--black;
		}//end strong

		@include breakpoint (medium only) {
			max-width: 535px;
			margin-bottom: $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			margin-bottom: $spacing--md;
		}//end medium down breakpoint
	}//end h1

	&__icon {
		display: inline-block;
		width: 124px;
		max-height: 100px;
		margin: 0;
		margin-left: rem-calc(150px);

		@include breakpoint (small down) {
			margin-left: $spacing--xl;
			width: 87px;
			max-height: 69px;
		}//end medium down breakpoint
	}//end &__icon

	.sl_button-group {
		justify-content: flex-start;

		@include breakpoint (medium only) {
			justify-content: center;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			margin-bottom: $spacing--xl;
			flex-direction: row;

			.sl_button {
				padding: $spacing--xs 0;
				margin: 0;

				&:first-of-type {
					margin-right: $spacing--sm/2;
				}//end &:first-of-type

				&:last-of-type {
					margin-left: $spacing--sm/2;
				}//end &:last-of-type
			}//end .sl_button
		}//end medium down breakpoint
	}//end .sl_button-group

	.sl_button--scroll {
		position: absolute;
		bottom: $spacing--xs;
		left: calc(50% - 42px);
		margin: 0 auto;
		text-align: center;
		z-index: 2;

		@include breakpoint (small only) {
			position: static;
			margin-bottom: 0;
		}//end small only breakpoint
	}//end .sl_button--scroll
	
}//end .sl_module--billboard