.sl_module {
	padding-top: $spacing--xxl * 2;
	position: relative;

	@include breakpoint (large down) {
		padding-top: $spacing--xl * 2 ;
	}//end large down breakpoint

	//UTILITY CLASSES
	&--notop {
		padding-top: 0;

		@include breakpoint (large only) {
			padding-top: 0;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-top: 0;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-top: 0;
		}//end small down breakpoint
	}//&--notop, &:first-of-type

	&--withbottom {
		padding-bottom: $spacing--xxl * 2;

		@include breakpoint (large down) {
			padding-bottom: $spacing--xl * 2;
		}//end large down breakpoint
	}//end &--withbottom

 	&--notop-small {
 		@include breakpoint (small down) {
 			padding-top: 0 !important;
 		}//end small down breakpoint
 	}//end &--notop-small

 	&--nobottom-medium {
 		@include breakpoint (medium only) {
			padding-bottom: 0 !important;
		}//end small down breakpoint
 	}//end &--nobottom-medium

	&--nobottom-small {
		@include breakpoint (small down) {
			padding-bottom: 0 !important;
		}//end small down breakpoint
	}//end &--nobottom-small

	&--overlaptop {
		margin-top: -$spacing--xxl;
		padding-top: 0;
	}//end &--overlaptop

	&--underlaptop {
		margin-top: -$spacing--xxl;
		padding-top: $spacing--xxl + $spacing--xxl;

		@include breakpoint (large only) {
			padding-top: $spacing--xxl + $spacing--xl;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-top: $spacing--xxl + $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-top: $spacing--xxl + $spacing--md;

			&.sl_module--notop-small {
				padding-top: 0;
				margin-top: 0;
			}//end .sl_module--notop-small
		}//end small down breakpoint
	}//end &--underlaptop

	&--wavebottom {
		margin-bottom: rem-calc(124px);
		&:after {
			@include pseudo;
			left: 0;
			right: 0;
			bottom: -124px;
			height: 124px;
			background-image: url(#{$path-img}wave--divider.png);
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-position: center bottom;
			z-index: 1;

			@include breakpoint (small down) {
				height: 55px;
				bottom: -55px;
			}//end small down breakpoint
		}//end &:after

		@include breakpoint (small down) {
			margin-bottom: rem-calc(55px)
		}//end small down breakpoint
	}//end &--wavebottom

	&--wavetop {
		margin-top: rem-calc(124px);
		&:before {
			@include pseudo;
			left: 0;
			right: 0;
			top: -124px;
			height: 124px;
			background-image: url(#{$path-img}wave--divider.png);
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-position: center bottom;
			transform: scaleY(-1);
			z-index: 1;

			@include breakpoint (small down) {
				height: 55px;
				top: -55px;
			}//end small down breakpoint
		}//end &:after

		@include breakpoint (small down) {
			margin-top: rem-calc(55px)
		}//end small down breakpoint
	}//end &--wavebottom
}//end .sl_module