.sl_spotlight {
	background-color: get-color(accent1);
	padding: $spacing--xxl;

	@include breakpoint (small only) {
		padding: $spacing--lg 0;
	}//end small only breakpoint

	p {
		font-size: 2rem;
		line-height: 1.5;
		max-width: 777px;
		margin: 0 auto $spacing--xl;

		@include breakpoint (small down) {
			font-size: rem-calc(26px);

			&:last-of-type {
				margin-bottom: $spacing--md;
			}//end &:last-of-type
		}//end small down breakpoint
	}//end p

	h3 {
		font-size: 2.5rem;
		font-weight: $font-weight--regular;

		@include breakpoint (small down) {
			font-size: rem-calc(26px);
			font-weight: $font-weight--semibold;
		}//end small down breakpoint

		a {
			font-weight: $font-weight--semibold;
		}//end a
	}//end h2

	&__image {
		max-height: 100px;
		width: auto;
	}//end &__image

	.sl_inner {
		text-align: center;
		& > :last-child {
			margin-bottom :0;
		}//end & > :last-child
	}//end .sl_inner

	&--large {
		padding-top: $spacing--xxxl * 2;
		padding-bottom: $spacing--xxxl * 2;

		@include breakpoint (small down) {
			padding-top: $spacing--xxl * 2;
			padding-bottom: $spacing--xxl * 2;
		}//end small down breakpoint
	}//end &--large
}//end .sl_spotlight