.sl_testimonial {
	padding: $spacing--xxxl 0;
	background-color: get-color(accent1);

	@include breakpoint (small down) {
		padding: $spacing--xxl 0;
	}//end small down breakpoint

	&--left {
		.sl_testimonial__media {
			order: 2;

			@include breakpoint (small only) {
				order: 1;
			}//end small only breakpoint
		}//end .sl_testimonial__media
		
		.sl_testimonial__content {
			order: 1;
			padding-left: 0;
			padding-right: $spacing--xxl;

			@include breakpoint (small only) {
				order: 2;
				padding-right: 0;
			}//end small only breakpoint

			.sl_card {
				padding-left: 0;
				padding-right: $spacing--sm;

				@include breakpoint (small only) {
					padding-right: 0;
				}//end small only breakpoint
			}//end .sl_card
		}//end .sl_testimonial__content
	}//end &--left

	.sl_inner {
		& > h2{
			text-align: center;
		}//end & > h2

		& > p {
			text-align: center;
			max-width: 895px;
			margin: 0 auto;
		}//end & > p
	}//end .sl_inner

	.sl_row {
		max-width: 1010px;
		margin: 0 auto;
	}//end .sl_row

	&__media {
		position: relative;
		z-index: 1;

		&:before{
			@include pseudo;
			background-image: url("../img/icon/quotes-top.svg");
			background-size: 100% 100%;
			background-repeat: no-repeat;
			width: 88px;
			height: 60px;
			left: -80px;
			top: -10px;

			@include breakpoint (medium down) {
				width: 59px;
				height: 40px;
				left: -15px;
				top: -30px;
			}//end medium down breakpoint
		}//end &:before

		&:after {
			@include pseudo;
			background-image: url("../img/icon/quotes-bottom.svg");
			background-size: 100% 100%;
			background-repeat: no-repeat;
			width: 88px;
			height: 60px;
			right: -80px;
			bottom: -10px;
			z-index: -1;

			@include breakpoint (medium down) {
				width: 59px;
				height: 40px;
				right: -15px;
				bottom: -30px;
			}//end medium down breakpoint
		}//end &:after

		@include breakpoint (small down) {
			margin-bottom: $spacing--sm;
			min-height: 222px;
		}//end small down breakpoint
	}//end &__media

	&__image {
		position: absolute;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		border-radius: $border-radius;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		.sl_button {
			position: absolute;
			top: calc(50% - 25px);
			left: calc(50% - 35px);
		}//end .sl_button
	}//end &__image

	&__content {
		padding-left: $spacing--xxl;

		@include breakpoint (medium only) {
			padding-left: $spacing--sm;
		}//end medium only breakpoint

		@include breakpoint (small only) {
			padding-left: 0;
		}//end small only breakpoint

		.sl_card {
			padding: $spacing--xxxl 0;

			@include breakpoint (small down) {
				padding: 0;
			}//end small down breakpoint
		}//end .sl_card
	}//end &__content

	&__quote {
		p {
			margin-bottom: $spacing--xs/2;
			font-weight: $font-weight--semibold;
			line-height: 2rem;
		}//end p
	}//end &__quote

	&__cite {
		p {
			color: get-color(default);
			text-align: right;
			font-size: 1.25rem;
			margin-bottom: 0;
		}//end p
	}//end &__cite
}//end .sl_testimonial