<div id="{{id}}" class="sl_module sl_spotlight {{#if class}}{{class}}{{/if}}">
	<div class="sl_inner">
		{{#markdown}}{{content}}{{/markdown}}
		{{#if image}}
		<img src="{{image.src}}" class="sl_spotlight__image" alt="{{image.alt}}" />
		{{/if}}
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_spotlight -->